[submodule "open_manipulator_6dof_simulations"]
	path = open_manipulator_6dof_simulations
	url = https://github.com/KlausLex/open_manipulator_6dof_simulations.git
[submodule "open_manipulator_friends"]
	path = open_manipulator_friends
	url = https://github.com/KlausLex/open_manipulator_friends.git
[submodule "gazebo_ros_link_attacher"]
	path = gazebo_ros_link_attacher
	url = https://github.com/pal-robotics/gazebo_ros_link_attacher.git
[submodule "open_manipulator_dependencies"]
	path = open_manipulator_dependencies
	url = https://github.com/ROBOTIS-GIT/open_manipulator_dependencies.git
