[submodule "open_manipulator_6dof_simulations"]
	path = open_manipulator_6dof_simulations
	url = https://github.com/KlausLex/open_manipulator_6dof_simulations.git
[submodule "open_manipulator_friends"]
	path = open_manipulator_friends
	url = https://github.com/KlausLex/open_manipulator_friends.git
[submodule "gazebo_ros_link_attacher"]
	path = gazebo_ros_link_attacher
	url = https://github.com/pal-robotics/gazebo_ros_link_attacher.git
[submodule "open_manipulator_dependencies"]
	path = open_manipulator_dependencies
	url = https://github.com/ROBOTIS-GIT/open_manipulator_dependencies.git
[submodule "open_manipulator"]
	path = open_manipulator
	url = https://github.com/KlausLex/open_manipulator.git
	branch = noetic
[submodule "open_manipulator_6dof_application"]
	path = open_manipulator_6dof_application
	url = https://github.com/zang09/open_manipulator_6dof_application.git
[submodule "open_manipulator_msgs"]
	path = open_manipulator_msgs
	url = https://github.com/ROBOTIS-GIT/open_manipulator_msgs.git
	branch = noetic
[submodule "open_manipulator_simulations"]
	path = open_manipulator_simulations
	url = https://github.com/ROBOTIS-GIT/open_manipulator_simulations.git
	branch = noetic
[submodule "robotis_manipulator"]
	path = robotis_manipulator
	url = https://github.com/ROBOTIS-GIT/robotis_manipulator.git
	branch = noetic
[submodule "ar_track_alvar"]
	path = ar_track_alvar
	url = https://github.com/ros-perception/ar_track_alvar.git
	branch = noetic-devel
[submodule "moveit_calibration"]
	path = moveit_calibration
	url = https://github.com/moveit/moveit_calibration.git
[submodule "dynamixel-workbench"]
	path = dynamixel-workbench
	url = https://github.com/ROBOTIS-GIT/dynamixel-workbench.git
	branch = noetic
